body{
    background-position: center;
}
.login-page .register-page{
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
input{
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
button{
    font-family: sans-serif;
    padding: 15px;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    color: #FFFFFF;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active{
    background: #43A047;
}
.form .message{
    margin:  15px 0 0;
    font-size: 14px;
}
.form .message a{
    color: #4CAF50;
    text-transform: none;
}
